# Load and aggregate Rating Data

In [1]:
import json
from glob import glob
import pandas as pd
import numpy as np
import itertools

from loguru import logger
from IPython.display import display, clear_output

Path to rating dataset

In [2]:
complaints_dataset = "../raw/Ratings"

Aggregate all json file in this directory.

In [3]:
files = glob('../raw/Ratings/*.json')
len(files)

7314

In [4]:
data = []

for i, file in enumerate(files):
    
    clear_output()
    logger.info((i, file))
    
    with open(file, 'r') as f: data.append(json.load(f))
        
df = pd.DataFrame(itertools.chain.from_iterable(data))
df.shape

2022-04-08 11:38:42.040 | INFO     | __main__:<module>:6 - (7313, '../raw/Ratings/[6390]2002_BMW_7 SERIES.json')

(7314, 34)

In [5]:
rating_df_clean = df.copy()
rating_df_clean.describe()

,ComplaintsCount,InvestigationCount,ModelYear,RecallsCount,RolloverPossibility,RolloverPossibility2,VehicleId
count,7314.000000,7314.000000,7314.000000,7314.000000,7314.000000,7314.000000,7314.000000
mean,149.909352,0.821575,2013.245830,3.641783,0.077741,0.017642,9327.309133
std,326.128410,1.699501,8.246742,4.322458,0.095826,0.053210,5547.139824
min,0.000000,0.000000,1990.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,2008.000000,1.000000,0.000000,0.000000,3835.250000
50%,23.000000,0.000000,2015.000000,2.000000,0.000000,0.000000,9533.500000
75%,140.000000,1.000000,2020.000000,5.000000,0.164000,0.000000,14780.750000
max,4717.000000,20.000000,2023.000000,47.000000,0.990000,0.348000,17100.000000

In [7]:
rating_df_clean

,ComplaintsCount,FrontCrashDriversideRating,FrontCrashPassengersideRating,InvestigationCount,Make,Model,ModelYear,NHTSAElectronicStabilityControl,NHTSAForwardCollisionWarning,NHTSALaneDepartureWarning,...,combinedSideBarrierAndPoleRating-Rear,dynamicTipResult,sideBarrierRating-Overall,VehiclePicture,FrontCrashPicture,FrontCrashVideo,SideCrashPicture,SideCrashVideo,SidePolePicture,SidePoleVideo
0,56,4,4,3,MITSUBISHI,ECLIPSE,1992,No,No,No,...,Not Rated,,Not Rated,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Not Rated,Not Rated,1,BMW,6 SERIES,2017,Standard,No,No,...,Not Rated,,Not Rated,https://static.nhtsa.gov/images/vehicles/10607...,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Not Rated,Not Rated,0,BMW,X5 HYBRID,2021,Standard,Standard,Standard,...,Not Rated,,Not Rated,https://static.nhtsa.gov/images/vehicles/14498...,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Not Rated,Not Rated,0,LEXUS,LS 500,2021,Standard,Standard,Standard,...,Not Rated,,Not Rated,https://static.nhtsa.gov/images/vehicles/14912...,NaN,NaN,NaN,NaN,NaN,NaN
4,156,5,5,0,CHEVROLET,TRAVERSE,2015,Standard,Optional,Optional,...,5,No Tip,5,https://static.nhtsa.gov/images/vehicles/9767_...,https://static.nhtsa.gov/crashTest/images/2015...,https://static.nhtsa.gov/crashTest/videos/2015...,https://static.nhtsa.gov/crashTest/images/2015...,https://static.nhtsa.gov/crashTest/videos/2015...,https://static.nhtsa.gov/crashTest/images/2015...,https://static.nhtsa.gov/crashTest/videos/2015...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7309,0,5,5,0,CHEVROLET,MALIBU,2022,Standard,Optional,Optional,...,3,No Tip,4,NaN,https://static.nhtsa.gov/crashTest/images/2022...,https://static.nhtsa.gov/crashTest/videos/2022...,https://static.nhtsa.gov/crashTest/images/2022...,https://static.nhtsa.gov/crashTest/videos/2022...,https://static.nhtsa.gov/crashTest/images/2022...,https://static.nhtsa.gov/crashTest/videos/2022...
7310,106,Not Rated,Not Rated,2,DODGE,CHARGER,2015,Standard,Optional,Optional,...,Not Rated,No Tip,Not Rated,https://static.nhtsa.gov/images/vehicles/10064...,NaN,NaN,NaN,NaN,NaN,NaN
7311,1402,4,5,4,FORD,EXPLORER,2004,Optional,No,No,...,Not Rated,No Tip,Not Rated,https://static.nhtsa.gov/images/vehicles/2153_...,https://static.nhtsa.gov/crashTest/images/2004...,NaN,https://static.nhtsa.gov/crashTest/images/2004...,NaN,NaN,NaN
7312,12,4,5,0,RAM,2500,2021,Standard,Optional,No,...,5,No Tip,5,https://static.nhtsa.gov/images/vehicles/14434...,https://static.nhtsa.gov/crashTest/images/2021...,https://static.nhtsa.gov/crashTest/videos/2021...,https://static.nhtsa.gov/crashTest/images/2021...,https://static.nhtsa.gov/crashTest/videos/2021...,https://static.nhtsa.gov/crashTest/images/2021...,https://static.nhtsa.gov/crashTest/videos/2021...
7313,102,Not Rated,Not Rated,2,BMW,7 SERIES,2002,Standard,No,No,...,Not Rated,,Not Rated,https://static.nhtsa.gov/images/vehicles/1117_...,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
del (rating_df_clean['FrontCrashPicture'])
del (rating_df_clean['FrontCrashVideo'])
del (rating_df_clean['SideCrashPicture'])
del (rating_df_clean['SideCrashVideo'])
del (rating_df_clean['SidePolePicture'])
del (rating_df_clean['SidePoleVideo'])

In [9]:
rating_df_clean

,ComplaintsCount,FrontCrashDriversideRating,FrontCrashPassengersideRating,InvestigationCount,Make,Model,ModelYear,NHTSAElectronicStabilityControl,NHTSAForwardCollisionWarning,NHTSALaneDepartureWarning,...,SideCrashDriversideRating,SideCrashPassengersideRating,SidePoleCrashRating,VehicleDescription,VehicleId,combinedSideBarrierAndPoleRating-Front,combinedSideBarrierAndPoleRating-Rear,dynamicTipResult,sideBarrierRating-Overall,VehiclePicture
0,56,4,4,3,MITSUBISHI,ECLIPSE,1992,No,No,No,...,Not Rated,Not Rated,Not Rated,1992 Mitsubishi Eclipse 2-DR.,3088,Not Rated,Not Rated,,Not Rated,NaN
1,0,Not Rated,Not Rated,1,BMW,6 SERIES,2017,Standard,No,No,...,Not Rated,Not Rated,Not Rated,2017 BMW 6 Series C RWD,11456,Not Rated,Not Rated,,Not Rated,https://static.nhtsa.gov/images/vehicles/10607...
2,1,Not Rated,Not Rated,0,BMW,X5 HYBRID,2021,Standard,Standard,Standard,...,Not Rated,Not Rated,Not Rated,2021 BMW X5 Hybrid SUV AWD,15937,Not Rated,Not Rated,,Not Rated,https://static.nhtsa.gov/images/vehicles/14498...
3,0,Not Rated,Not Rated,0,LEXUS,LS 500,2021,Standard,Standard,Standard,...,Not Rated,Not Rated,Not Rated,2021 Lexus LS 500 4 DR AWD,15836,Not Rated,Not Rated,,Not Rated,https://static.nhtsa.gov/images/vehicles/14912...
4,156,5,5,0,CHEVROLET,TRAVERSE,2015,Standard,Optional,Optional,...,5,5,5,2015 Chevrolet Traverse SUV AWD,9053,5,5,No Tip,5,https://static.nhtsa.gov/images/vehicles/9767_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7309,0,5,5,0,CHEVROLET,MALIBU,2022,Standard,Optional,Optional,...,4,3,5,2022 Chevrolet Malibu 4 DR FWD,16059,5,3,No Tip,4,NaN
7310,106,Not Rated,Not Rated,2,DODGE,CHARGER,2015,Standard,Optional,Optional,...,Not Rated,Not Rated,Not Rated,2015 Dodge Charger 4 DR AWD,9356,Not Rated,Not Rated,No Tip,Not Rated,https://static.nhtsa.gov/images/vehicles/10064...
7311,1402,4,5,4,FORD,EXPLORER,2004,Optional,No,No,...,5,5,Not Rated,2004 Ford Explorer 4-DR.,1108,Not Rated,Not Rated,No Tip,Not Rated,https://static.nhtsa.gov/images/vehicles/2153_...
7312,12,4,5,0,RAM,2500,2021,Standard,Optional,No,...,5,5,5,2021 Ram 2500 Crew PU/CC 2WD,15486,5,5,No Tip,5,https://static.nhtsa.gov/images/vehicles/14434...
7313,102,Not Rated,Not Rated,2,BMW,7 SERIES,2002,Standard,No,No,...,Not Rated,Not Rated,Not Rated,2002 BMW 7 Series w/SAB,4439,Not Rated,Not Rated,,Not Rated,https://static.nhtsa.gov/images/vehicles/1117_...

In [11]:
rating_df_clean.describe()

,ComplaintsCount,InvestigationCount,ModelYear,RecallsCount,RolloverPossibility,RolloverPossibility2,VehicleId
count,7314.000000,7314.000000,7314.000000,7314.000000,7314.000000,7314.000000,7314.000000
mean,149.909352,0.821575,2013.245830,3.641783,0.077741,0.017642,9327.309133
std,326.128410,1.699501,8.246742,4.322458,0.095826,0.053210,5547.139824
min,0.000000,0.000000,1990.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,2008.000000,1.000000,0.000000,0.000000,3835.250000
50%,23.000000,0.000000,2015.000000,2.000000,0.000000,0.000000,9533.500000
75%,140.000000,1.000000,2020.000000,5.000000,0.164000,0.000000,14780.750000
max,4717.000000,20.000000,2023.000000,47.000000,0.990000,0.348000,17100.000000