In [1]:
import pandas as pd

In [2]:
#read the data file, skip the third row and rows contain 'mean' and 'median' 
data = pd.read_csv('EV_sales_by_state_2016-2019.csv', skiprows=[0,2,55,56], delimiter = ',')

In [3]:
data.head()

   Unnamed: 0    2016    2017     2018     2019
0  California  73,854  94,873  153,442  145,020
1    New York   6,043  10,090   15,752   14,823
2  Washington   5,363   7,068   12,650   12,172
3     Florida   6,255   6,573   13,705   15,794
4       Texas   4,510   5,419   11,764    5,780

In [4]:
data = data.rename(columns={'Unnamed: 0':'State'})

In [5]:
# Now we have cleanned data, save it into processed file
path = '../../processed/Ev_sales.csv'
data.to_csv(path)