# Introduction
In this NoteBook, we will clean the all types vehicles dataset.

# Setup & Load Dataset

In [1]:
import pandas as pd

**Path to dataset**

In [2]:
dataset = "../Raw_Data/Vehicle_Dataset.csv"
df = pd.read_csv(dataset)
df.shape

(335562, 9)

In [3]:
df.head()

,Genmodel_ID,Maker,Genmodel,Trim,Year,Price,Gas_emission,Fuel_type,Engine_size
0,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp 2d,2016,29365,148,Petrol,1368
1,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp Sequenziale...,2016,31365,153,Petrol,1368
2,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp 2d,2017,29365,148,Petrol,1368
3,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp Sequenziale...,2017,31365,153,Petrol,1368
4,2_1,Abarth,124 spider,124 SpiderScorpione 1.4 Turbo MultiAir 170hp 2d,2017,26665,148,Petrol,1368

**Check the number of relevant data by fuel types**

In [4]:
df["Fuel_type"].value_counts()

Petrol                 179599
Diesel                 147860
Other                    8085
Electric Diesel REX        18
Name: Fuel_type, dtype: int64

**Drop some unused column**

In [5]:
df = df.drop(['Genmodel_ID','Trim'],axis=1)
df.head()

    Maker    Genmodel  Year  Price  Gas_emission Fuel_type  Engine_size
0  Abarth  124 spider  2016  29365           148    Petrol         1368
1  Abarth  124 spider  2016  31365           153    Petrol         1368
2  Abarth  124 spider  2017  29365           148    Petrol         1368
3  Abarth  124 spider  2017  31365           153    Petrol         1368
4  Abarth  124 spider  2017  26665           148    Petrol         1368

# Output Cleaned Data Version

In [6]:
path = '../Processed_Data/Vehicle_Dataset.csv'
df.to_csv(path)