# Introduction

In this NoteBook, we will clean the dataset of GDP for each states

## Set up

In [1]:
import pandas as pd

## Read Data

In [2]:
# read the file and skip the title and note at the end 
GDP = pd.read_csv('../Raw_Data/annual_GDP_by_state.csv', skiprows=[*range(0, 4)],nrows=52, delimiter = ',')

In [3]:
GDP.head()

,GeoFips,GeoName,1997,1998,1999,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0,United States,11529157.0,12045824.0,12623361.0,13138035.0,13263417.0,13488357.0,13865519.0,14399696.0,...,16253970.0,16553348.0,16932051.0,17390295.0,17680274.0,18079084.0,18606787.0,19032672.0,18384687.0,19427287.0
1,1000,Alabama,144501.2,149568.2,154900.2,157221.3,156853.2,160422.4,165134.7,176625.0,...,189245.5,191369.8,189886.3,191335.2,194283.8,197566.6,200800.9,203383.9,196906.1,204884.6
2,2000,Alaska,42211.3,41095.9,40590.5,39406.6,40958.7,42979.0,42355.3,44055.0,...,58283.6,55354.3,54188.2,54740.8,54246.6,54129.5,53249.6,53336.5,50161.0,50300.3
3,4000,Arizona,168408.8,183060.5,198699.9,208439.5,213166.2,220696.7,234065.9,244317.3,...,271440.0,273481.9,276948.9,282577.0,291275.2,302455.4,313618.7,323894.3,320550.6,337424.7
4,5000,Arkansas,82571.3,84570.8,89115.2,89871.7,89789.0,92950.5,96944.5,101733.6,...,108492.1,110752.4,111734.5,112351.0,112798.1,113885.2,115937.6,116790.9,114943.5,120710.5

In [4]:
GDP.set_index('GeoName',inplace=True)
# we don't need column "GeoFips" , so clean this column
GDP = GDP.iloc[1: ,1:]

In [5]:
print(GDP.shape)
GDP.head()

(51, 25)

,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
GeoName,,,,,,,,,,,,,,,,,,,,,
Alabama,144501.2,149568.2,154900.2,157221.3,156853.2,160422.4,165134.7,176625.0,184369.5,187270.8,...,189245.5,191369.8,189886.3,191335.2,194283.8,197566.6,200800.9,203383.9,196906.1,204884.6
Alaska,42211.3,41095.9,40590.5,39406.6,40958.7,42979.0,42355.3,44055.0,45657.1,49190.2,...,58283.6,55354.3,54188.2,54740.8,54246.6,54129.5,53249.6,53336.5,50161.0,50300.3
Arizona,168408.8,183060.5,198699.9,208439.5,213166.2,220696.7,234065.9,244317.3,262326.0,274179.4,...,271440.0,273481.9,276948.9,282577.0,291275.2,302455.4,313618.7,323894.3,320550.6,337424.7
Arkansas,82571.3,84570.8,89115.2,89871.7,89789.0,92950.5,96944.5,101733.6,105980.0,108460.6,...,108492.1,110752.4,111734.5,112351.0,112798.1,113885.2,115937.6,116790.9,114943.5,120710.5
California,1378276.5,1468730.8,1574305.9,1696172.4,1692324.1,1722522.4,1789998.5,1850904.5,1926842.1,2002437.4,...,2113096.4,2179229.0,2256054.7,2357452.9,2427894.6,2541769.3,2643576.3,2739343.4,2663665.9,2871424.2

**Because this is a anual GDP per state, we need per capita personal GDP**

In [6]:
population = pd.read_csv('../Processed_Data/population.csv', delimiter = ',', index_col=0)
population.head()

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
GeoName,,,,,,,,,,,,,,,,,,,,,
Alabama,3058000,3059000,3068000,3053000,3014000,3050000,3071000,3109000,3163000,3204000,...,4839261,4864399,4886793,4908162,4930595,4952202,4976395,5003418,5024803,5039877
Alaska,135000,158000,189000,205000,215000,222000,224000,231000,224000,224000,...,731106,738057,737638,739127,743410,741949,737717,734823,732441,732673
Arizona,756000,785000,842000,894000,933000,987000,1053000,1125000,1193000,1261000,...,6507351,6563216,6638196,6714328,6801591,6879830,6969944,7070511,7177986,7276316
Arkansas,1908000,1901000,1838000,1780000,1734000,1725000,1704000,1733000,1726000,1756000,...,2948887,2954685,2961191,2970352,2980602,2990801,2997271,3004248,3012232,3025891
California,10677000,11134000,11635000,12251000,12746000,13133000,13713000,14264000,14880000,15467000,...,37970368,38291358,38636290,38966055,39223210,39424071,39535906,39547996,39499738,39237836

**we need 1997-2021 year population data**

In [7]:
population = population.iloc[:,47:]
print(population.shape)
population.head()

(51, 25)

,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
GeoName,,,,,,,,,,,,,,,,,,,,,
Alabama,4367935,4404701,4430141,4452173,4467634,4480089,4503491,4530729,4569805,4628981,...,4839261,4864399,4886793,4908162,4930595,4952202,4976395,5003418,5024803,5039877
Alaska,612968,619932,624779,627963,633714,642337,648414,659286,666946,675302,...,731106,738057,737638,739127,743410,741949,737717,734823,732441,732673
Arizona,4736990,4883342,5023823,5160586,5273477,5396255,5510364,5652404,5839077,6029141,...,6507351,6563216,6638196,6714328,6801591,6879830,6969944,7070511,7177986,7276316
Arkansas,2601090,2626289,2651860,2678588,2691571,2705927,2724816,2749686,2781097,2821761,...,2948887,2954685,2961191,2970352,2980602,2990801,2997271,3004248,3012232,3025891
California,32486010,32987675,33499204,33987977,34479458,34871843,35253159,35574576,35827943,36021202,...,37970368,38291358,38636290,38966055,39223210,39424071,39535906,39547996,39499738,39237836

In [8]:
GDP_per_capita = GDP/population
GDP_per_capita.head()

,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
GeoName,,,,,,,,,,,,,,,,,,,,,
Alabama,0.033082,0.033956,0.034965,0.035313,0.035109,0.035808,0.036668,0.038984,0.040345,0.040456,...,0.039106,0.039341,0.038857,0.038983,0.039404,0.039895,0.040351,0.040649,0.039187,0.040653
Alaska,0.068864,0.066291,0.064968,0.062753,0.064633,0.066910,0.065321,0.066822,0.068457,0.072842,...,0.079720,0.075000,0.073462,0.074061,0.072970,0.072956,0.072182,0.072584,0.068485,0.068653
Arizona,0.035552,0.037487,0.039552,0.040391,0.040422,0.040898,0.042477,0.043224,0.044926,0.045476,...,0.041713,0.041669,0.041721,0.042086,0.042825,0.043963,0.044996,0.045809,0.044657,0.046373
Arkansas,0.031745,0.032202,0.033605,0.033552,0.033359,0.034351,0.035578,0.036998,0.038107,0.038437,...,0.036791,0.037484,0.037733,0.037824,0.037844,0.038078,0.038681,0.038875,0.038159,0.039893
California,0.042427,0.044524,0.046995,0.049905,0.049082,0.049396,0.050776,0.052029,0.053780,0.055591,...,0.055651,0.056912,0.058392,0.060500,0.061899,0.064473,0.066865,0.069266,0.067435,0.073180

**the value are in million, we change to dollar**

In [9]:
GDP_per_capita = (GDP_per_capita*1000000).round(decimals = 2)
GDP_per_capita.head()

,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
GeoName,,,,,,,,,,,,,,,,,,,,,
Alabama,33082.27,33956.49,34965.07,35313.39,35108.78,35807.86,36668.15,38983.79,40345.16,40456.16,...,39106.28,39340.89,38857.04,38983.07,39403.72,39894.70,40350.68,40648.99,39186.83,40652.70
Alaska,68863.79,66290.98,64967.77,62753.06,64632.78,66910.36,65321.38,66822.29,68456.97,72841.78,...,79719.77,75000.03,73461.78,74061.43,72969.96,72955.82,72181.61,72584.15,68484.70,68653.14
Arizona,35551.86,37486.73,39551.53,40390.66,40422.32,40898.12,42477.39,43223.61,44925.94,45475.70,...,41712.83,41668.89,41720.51,42085.67,42824.57,43962.63,44995.87,45809.18,44657.46,46373.01
Arkansas,31744.88,32201.64,33604.79,33551.89,33359.33,34350.70,35578.37,36998.26,38107.26,38437.20,...,36790.86,37483.66,37732.96,37824.14,37844.07,38078.49,38681.05,38875.25,38158.91,39892.55
California,42426.77,44523.62,46995.32,49905.07,49082.10,49395.79,50775.55,52028.86,53780.43,55590.52,...,55651.20,56911.77,58392.12,60500.17,61899.44,64472.52,66865.20,69266.30,67435.03,73179.98

In [10]:
path = '../Processed_Data/gdp.csv'
GDP_per_capita.to_csv(path)