# Introduction

In this NoteBook we will clean the dataset of total number of registered vehicles per state in 2015 & 2020

## Set up

In [2]:
import pandas as pd

## Read the data

In [12]:
data = pd.read_csv('../Raw_Data/Total_number_of_registered_vehicles_per_state_2015&2020.csv',
                   thousands=',',
                   skiprows=[1], 
                   delimiter = ',',
                   index_col=[0]
                  )
data.set_axis(['2020', '2015'], axis=1, inplace=True)

In [13]:
data.head()

                2020      2015
State
Alabama      5320340   5400419
Alaska        792826    815122
Arizona      6053781   5630647
Arkansas     2913369   2772214
California  30398249  29424012

In [14]:
path = '../Processed_Data/car_reg_2015_and_2020.csv'
data.to_csv(path)