# Introduction

In this NoteBook we will clean the dataset of NEV stations.

## Set up

In [46]:
import pandas as pd
from glob import glob
import os
import itertools
import unittest
from loguru import logger
from IPython.display import display, clear_output

## Read the data

In [47]:
files = glob('../Raw_Data/Station Counts by State and Fuel Type/*.csv')
len(files)

15

In [60]:
from pathlib import Path
files = Path('../Raw_Data/Station Counts by State and Fuel Type').glob('*.csv') # get all csvs in your dir.

df = pd.DataFrame()
for file in files:
    #name = os.path.basename(file)
    data = pd.read_csv(file,index_col = 0,nrows=51,thousands=',')
    # Find the file name which is the year of current df, split with dot, year is the first part.
    year = os.path.basename(file).split('.')[0]
    # Add year as a new column
    data.insert(data.shape[1], 'Year', year)
    # Change specific column name
    if 'Electric(stations / charging outlets)' in data.columns:
        data = data.rename(columns = {'Electric(stations / charging outlets)':'Electric'})
        # Remove thousand comma mark
        data['Electric'] = data['Electric'].str.replace(',', '')
        # Keep last number in cell
        data['Electric'] = data['Electric'].str.split("/").str[-1]
    df = pd.concat([df,data])
    #print(df)
df

,Biodiesel,CNG,E85,Electric,Hydrogen,LNG,Propane,Total,Year
State,,,,,,,,,
Alabama,11,3,6,0,0,0,40,60,2008
Alaska,0,1,0,0,0,0,10,11,2008
Arizona,10,40,23,5,1,5,51,135,2008
Arkansas,2,3,7,0,0,0,37,49,2008
California,36,184,13,376,26,28,199,862,2008
...,...,...,...,...,...,...,...,...,...
Virginia,1,3,0,8,1,0,5,18,2011
Washington,32,15,19,438,0,0,67,571,2011
West Virginia,2,17,140,60,0,0,48,267,2011
Wisconsin,0,1,3,6,1,0,9,20,2011
Wyoming,13,8,5,0,0,0,22,48,2011

In [61]:
df.groupby('Electric').size()

Electric
0       133
1        20
2        16
3        12
4        10
       ...
 986      1
 989      1
 990      1
 993      1
 995      1
Length: 477, dtype: int64

In [62]:
df.groupby('State').size()

State
Alabama                 15
Alaska                  15
Arizona                 15
Arkansas                15
California              15
Colorado                15
Connecticut             15
Delaware                15
District of Columbia    15
Florida                 15
Georgia                 15
Hawaii                  15
Idaho                   15
Illinois                15
Indiana                 15
Iowa                    15
Kansas                  15
Kentucky                15
Louisiana               15
Maine                   15
Maryland                15
Massachusetts           15
Michigan                15
Minnesota               15
Mississippi             15
Missouri                15
Montana                 15
Nebraska                15
Nevada                  15
New Hampshire           15
New Jersey              15
New Mexico              15
New York                15
North Carolina          15
North Dakota            15
Ohio                    15
Oklahoma                15
Oregon                  15
Pennsylvania            15
Rhode Island            15
South Carolina          15
South Dakota            15
Tennessee               15
Texas                   15
Utah                    15
Vermont                 15
Virginia                15
Washington              15
West Virginia           15
Wisconsin               15
Wyoming                 15
dtype: int64

In [63]:
df.groupby('State').size().count(),df.shape

(51, (765, 9))

In [64]:
df.groupby(['Year']).size()

Year
2007    51
2008    51
2009    51
2010    51
2011    51
2012    51
2013    51
2014    51
2015    51
2016    51
2017    51
2018    51
2019    51
2020    51
2021    51
dtype: int64

In [65]:
df.groupby(['Year']).size().count()

15

In [66]:
path = '../Processed_Data/station.csv'
df.to_csv(path)